a:link{
	color: #777777;
	text-decoration: none;
}

a:visited{
	color: #777777 ;
	text-decoration: none;
}



header{
	background-color: #4aaaa5;
	position:relative;
	height: 103px;
	width: 300px;
	top:-22px;
	right: -115px;
}

h1{
	padding-top:42px;
	text-align: center;
	color: white;
	font-size: 40px;
	font-weight: bold;
}

div{
	background-color:gray;
	width:100%;
	position:relative;
	height: 740px;
	margin: 0 auto;
	bottom: 59px;
	border-top: 10px;
}

h2{
	padding-top: 10px;
	font-size: 33px;
	color: #4aaaa5;
	padding-left: 10px;
}

h3{
	font-size: 28px;
	color: #4aaaa5;	
	padding-left: 27px;
	padding-top: 20px;
}


#line{
	width: 96%;
	height: .5px;
	background-color: gray;
	text-align: left;
}

#topAside{
	position: relative;
	left: 837px;
	bottom: 77px;
	color: #777777;
	font-size: 20px
}

#main{
	position:absolute;
	background-color: white;
	width: 48%;
	height: 660px;
	bottom: 2px;
	right: 511px;
	padding: 20px;
}

#connect{
	position: absolute;
	background-color: white;
	width: 20%;
	height: 200px;
	bottom: 501px;
	right: 203px;
	padding-left:10px;
}

.font{
	font-family: Arial;
	color: #777777;
	font-size: 17px;
	line-height: 2;
	padding: 13px
	padding-top:0px;
	padding-left: 5px;
}

#line2{
	width: 80%;
	height: .5px;
	background-color: gray;
	text-align: left;
}

#imageA{
	width: 275px;
	height: 150px;
	position: absolute;
	left: 32px;
	top: 128px;
 	
}

#imageB{
	width: 275px;
	height: 150px;
 	position: absolute;
 	left: 350px;
 	top: 128px;
}

#imageC{
	width: 275px;
	height: 150px;
	position: absolute;
	top: 340px;
	left: 32px;
}

#imageD{
	width: 275px;
	height: 150px;
	position: absolute;
	top: 340px;
	left: 350px;
}

#imageE{
	width: 275px;
	height: 150px;
	position: absolute;
	top: 549px;
	left: 32px;
}

#topLine{
	position: relative;
	height: 1px;
	width:100%;
	background-color:black;
	bottom:50px; 
}

#footer{
	position:absolute;
	height:150px;
	width:100%;
	background-color:#4aaaa5; 
	top:561px;
}

#image{
	width: 50px;
	height: 50px;
 	padding-left: 27px; 
}

#image2{
	width: 50px;
	height: 50px;
 	padding-left: 22px; 
}

#image3{
	width: 50px;
	height: 50px;
 	padding-left:22px;
}



